---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import CardOnOrange from "../components/CardOnOrange.astro";
---

<Layout title="sollee.eth">
  <main>
    <div class="bg-gradient-to-br from-red-600 to-yellow-500">
      <section class="min-h-screen flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center">
          <p class="text-center text-white text-7xl font-bold">sollee 🧑‍💻☀️</p>
          <p class="text-center text-white text-2xl mt-4">
            14 y/o he/him dev & decentralization maxi
          </p>
          <p class="text-center text-white text-2xl mt-4">
            "Cyber attacking the state is based." - <a class="underline font-bold" href="https://beta.character.ai/comms?char=KEEWmNmYpmMJF46d42lM209QoAmm0dqONrUpbVh__Oc">AncapBot</a>
          </p>
        </div>
      </section>
      <section>
        <div class="relative z-0 before:bg-white bubble h-32 after:bg-white">
        </div>
        <div class="bg-white min-h-screen">
          <p class="text-center text-3xl font-bold">My socials</p>
          <div class="flex flex-row justify-center mt-8">
            <ul
              class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 w-full mx-4 text-center"
            >
              <Card href="">
                <img src="./discord.svg" class="h-16" />
                <h1 class="text-2xl font-bold">Discord</h1>
                <p>Sollee#6071</p>
              </Card>
              <Card href="">
                <h1 class="text-2xl font-bold">Nostr</h1>
                (i don't check this at all really)
                <code class="break-all">npub1wskyrc4xews66r6ptt52r4msav2uvawma9a2euvke90vm0azqrnq983u30</code>
              </Card>

              <Card href="https://github.com/solleedev">
                <img src="./github.svg" class="h-16" />
                <h1 class="text-2xl font-bold">GitHub</h1>
                <p>@solleedev</p>
              </Card>
              <Card href="https://twitter.com/sollee_eth">
                <img src="./twitter.svg" class="h-16" />
                <h1 class="text-2xl font-bold">Twitter</h1>
                <p>@sollee_eth</p>
              </Card>
              <Card href="https://app.ens.domains/name/sollee.eth">
                <img src="./ens-logo.svg" class="h-16" />
                <h1 class="text-2xl font-bold">ENS</h1>
                <p>sollee.eth</p>
              </Card>
              <Card href="https://mage.space/u/sollee">
                <img src="./mage.ico" class="h-16" />
                <h1 class="text-2xl font-bold">Mage</h1>
                <p>u/sollee (requires login)</p>
              </Card>
              <Card href="https://mirror.xyz/sollee.eth">
                <img src="./mirror.png" class="h-16" />
                <h1 class="text-2xl font-bold">Mirror Blog</h1>
                <p>sollee.eth</p>
              </Card>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <section>
      <div
        class="bg-gradient-to-b from-orange-500 to-red-700 mt-8 pt-4 min-h-screen text-white text-center flex flex-col items-center"
      >
        <h1 class="font-bold text-5xl">Honourable mention</h1>
        <ul class="p-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
          
          <CardOnOrange href="https://farcaster.xyz">
            <h2 class="text-2xl font-bold">Farcaster</h2>
            <p>Farcaster is a sufficiently decentralized social network.</p>
          </CardOnOrange>
          <CardOnOrange href="https://ultrasound.money">
            <h2 class="text-2xl font-bold">Ultra Sound Money</h2>
            <p>App tracking ETH deflation and stuff.</p>
          </CardOnOrange>
          <CardOnOrange href="https://optimism.io">
            <h2 class="text-2xl font-bold">Optimism Collective</h2>
            <p>They've got a really cool public goods funding program and tech.</p>
          </CardOnOrange>
          <CardOnOrange href="https://nation3.org/">
            <h2 class="text-2xl font-bold">Nation3</h2>
            <p>A network state.</p>
          </CardOnOrange>
          <CardOnOrange href="">
            <h2 class="text-2xl font-bold">Waiting...</h2>
            <p>Wen new projec</p>
          </CardOnOrange>
        </ul>
      </div>
    </section>
    <section>
      <div
        class="bg-white mt-8 pt-4 min-h-screen text-white text-center flex flex-col items-center"
      >
        <h1 class="font-bold text-5xl text-black">Reading List</h1>
        <ul class="p-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
          <Card href="https://newsletter.banklesshq.com/p/ultra-sound-money-">
            <h2 class="text-2xl font-bold">Ultra Sound Money (blog post)</h2>
            <p>Post by Bankless. About Ethereum's tokenomics and sound money.</p>
          </Card>
          <Card href="https://saifedean.com/">
            <h2 class="text-2xl font-bold">Saifedean Ammous's books</h2>
            <p>Gave me valuable insights about sound money.</p>
          </Card>
          <Card href="https://dark.fi/manifesto">
            <h2 class="text-2xl font-bold">DarkFi Manifesto</h2>
            <p>Crypto-anarchist manifesto. Personally, although it's very interesting, I would disagree with some parts of it.</p>
          </Card>
          <Card href="https://thenetworkstate.com/">
            <h2 class="text-2xl font-bold">The Network State</h2>
            <p>Book by Balaji Srinivasan. It's about reinventing nation states and governments with web3 tech.</p>
          </Card>
          <Card href="https://nation3.org/manifesto">
            <h2 class="text-2xl font-bold">Nation3 Manifesto</h2>
            <p>Very thought-provoking manifesto.</p>
          </Card>
          <Card href="https://vitalik.ca">
            <h2 class="text-2xl font-bold">Vitalik's blog</h2>
            <p>All of it is amazing. Absolute must-read, goes over loads of things.</p>
          </Card>
        </ul>
      </div>
    </section>
    
  </main>
  <footer class="bg-red-700 p-4 text-white">
    Copyright (c) sollee.eth 2023, licensed under GNU GPL 3.0
  </footer>
</Layout>

<style>
  .bubble::before {
    content: "";
    border-top-left-radius: 70% 100%;
    border-top-right-radius: 70% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
</style>
