---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li class="bg-white rounded-xl p-2 text-black">
  <a href={href == "" ? undefined : href}>
    <div
      class="hover:bg-orange-100 transition-all duration-300 delay-50 rounded-lg p-4 flex flex-col items-center h-full"
    >
      <slot />
    </div>
  </a>
</li>
